<footer class='topnav'>
<div class="footer-copyright">
    <div class="container">
        All articles belong to <a href="https://www.espn.com/watch/collections/19826/ufc-live-upcoming" target_blank></a>
        {{!-- http://site.api.espn.com/apis/site/v2/sports/basketball/nba/scoreboard?calendartype=blacklist&dates=20190402&lang=en&limit=100&region=us&tz=America/New_York --}}
        <a class="grey-text text-lighten-4 right" href="/article-json">Article Json</a>
    </div>
</div>
</footer>