<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">News Scrapper</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="http://www.espn.com/" target="_blank">Sports</a></li>
        </ul>
    </div>
</nav>